<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.softfactory.core.dao.ManufactureMapper">

	<resultMap type="com.softfactory.pojo.Manufacture" id="manufacture-result">
		<id property="id" column="ID" />
		<result property="manufactureId" column="MANUFACTURE_ID" />
		<result property="productId" column="PRODUCT_ID" />
		<result property="productName" column="PRODUCT_NAME" />
		<result property="amount" column="AMOUNT" />
		<result property="testedAmount" column="TESTED_AMOUNT" />
		<result property="applyIdGroup" column="APPLY_ID_GROUP" />
		<result property="productDescribe" column="PRODUCT_DESCRIBE" />
		<result property="moduleCostPriceSum" column="MODULE_COST_PRICE_SUM" />
		<result property="realModuleCostPriceSum" column="REAL_MODULE_COST_PRICE_SUM" />
		<result property="labourCostPriceSum" column="LABOUR_COST_PRICE_SUM" />
		<result property="realLabourCostPriceSum" column="REAL_LABOUR_COST_PRICE_SUM" />
		<result property="designer" column="DESIGNER" />
		<result property="register" column="REGISTER" />
		<result property="registerTime" column="REGISTER_TIME" />
		<result property="checker" column="CHECKER" />
		<result property="checkTime" column="CHECK_TIME" />
		<result property="remark" column="REMARK" />
		<result property="checkTag" column="CHECK_TAG" />
		<result property="manufactureProcedureTag" column="MANUFACTURE_PROCEDURE_TAG" />
	</resultMap>

	<sql id="pageSQLHead">
		select *
		from (select row_number() over(
	</sql>
	<sql id="orderBy">
		<if test="sort != null and order != null">
			order by
			<choose>
				<when test="sort == 'id'">ID</when>
				<when test="sort == 'productName'">PRODUCT_NAME</when>
				<otherwise>ID</otherwise>
			</choose>
			<if test="order == 'asc'">asc</if>
			<if test="order == 'desc'">desc</if>
		</if>
	</sql>

	<sql id="WhereClase">
		<where>
			1=1
			<if test="id != null and id != ''">
				and ID LIKE #{id}
			</if>
			<if test="productName != null and productName != ''">
				and PRODUCT_NAME LIKE #{productName}
			</if>
		</where>
	</sql>
	
	<sql id="WhereClaseLgx">
		<where>
			1=1
			<if test="manufacture.checkTag != null and manufacture.checkTag != ''">
				and CHECK_TAG='S001-1'
			</if>
		</where>
	</sql>

	<sql id="pageSQLFoot">
    <![CDATA[ ) where rn > #{pageno} and rn <= #{pagesize} ]]>
	</sql>

	<select id="findPager" resultMap="manufacture-result">
		<include refid="pageSQLHead" />
		<include refid="orderBy" />
		) rn,m.* from M_MANUFACTURE m
		<include refid="WhereClase" />
		<include refid="pageSQLFoot" />
	</select>
	
	<select id="findPagerTotal" resultType="long">
		select count(ID) from M_MANUFACTURE
		<include refid="WhereClase" />
	</select>
	
	<!-- 加载通过审核生产计划 -->
	<select id="findPassedMFG" resultMap="manufacture-result">
		<include refid="pageSQLHead" />
		<include refid="orderBy" />
		) rn,m.* from M_MANUFACTURE m
		<include refid="WhereClaseLgx" />
		<include refid="pageSQLFoot" />
	</select>
	
	<!-- 加载通过审核生产计划的总结记录数 -->
	<select id="findPassedMFGTotal" resultType="long">
		select count(ID) from M_MANUFACTURE
		<include refid="WhereClaseLgx" />
	</select>
	
	<!-- LGX -->
	<select id="findById" resultMap="manufacture-result">
		SELECT * FROM M_MANUFACTURE WHERE ID=#{id}
	</select>
</mapper>